## ASP.NET Core and Rider specific

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options directory
.vs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Files built by Visual Studio
*.ilk
*.meta
*.obj
*.iobj
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.tlb
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc

# ReSharper (Rider)
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Others
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings

# Microsoft Fakes
FakesAssemblies/

# Node.js Tools for Visual Studio
node_modules/

# MSBuild Binary and Structured Log
*.binlog

# Local History for Visual Studio
.localhistory/

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# General OS files
.DS_Store
Thumbs.db
[Dd]esktop.ini